/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}
.nav a {
    font-family: verdana;
    color: #EDBE7C;
}
.navbar img {
    height: 50px;
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #E1E3DE;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    background: #435B5D;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
.header {
    display: grid;
    background-color: #87A199;
    height: 500px;
    grid-template-rows: ;
    grid-template-columns: 1fr,1fr,1fr;
}

#sidebar {
    min-width: 140px;
    max-width: 140px;
    min-height: 720px;
    max-height: 720px;
    background: #627F82;
    color: #E1E3DE;
    text-align: center;
}

#sidebar ul.components {
    padding: 0px 0;
}

#sidebar ul img {
    margin-top: 30px;
    height: 45px;

}

#sidebar ul p {
    color: #E1E3DE;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 10pt;
    display: block;
}

#sidebar ul li a:hover {
    color: #EDBE7C;
}
#homeImg {
    margin-left: 50px;
    margin-top: 50px;
}
#logo {
    margin-left: 50px;
    margin-top: 125px;
    margin-bottom: 50px;
}
.cta p {
    margin-left: 125px;
}
#createAccount {
    background-color: #B8583F;
    width: 200px;
    margin-left: 125px;
    margin-top: 50px;
    color: #E1E3DE;
}
#login {
    background-color:#435B5D;
    width: 200px;
    margin-left: 125px;
    margin-top: 10px;
    color: #E1E3DE;
}
.headline {
    margin-top: -50px;
    height: 50px;
    text-align: center;
    background-color: #E1E3DE;
}
.headlineTwo {
    color: #435B5D;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 250px;
    height: 400px;
    text-align: center;
    
}
.headline img {
    margin-top: 50px;
}
.headlineTwo p {
    color: #435B5D;
    margin-top: 50px;
    align-self: baseline;
}
@media only screen and (max-width: 600px) {
  div {
    display: column;
    width: 100%;
    height: auto;
}
.header {
    display: block;
    grid-template-columns: 1fr;
}