/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}
.nav a {
    font-family: verdana;
    color: #EDBE7C;
}
.navbar img {
    height: 50px;
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #E1E3DE;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    background: #435B5D;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 140px;
    max-width: 140px;
    min-height: 795px;
    max-height: 795px;
    background: #627F82;
    color: #E1E3DE;
    text-align: center;
}

#sidebar ul.components {
    padding: 0px 0;
}

#sidebar ul img {
    height: 5%;
    margin-top: 25px;
}

#sidebar ul p {
    color: #E1E3DE;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 10pt;
    display: block;
}

#sidebar ul li a:hover {
    color: #EDBE7C;
}